# Node modules
node_modules

# Environment files
.env
.env.sample

# Logs
npm-debug.log
*.log

# Build output
dist
.vite

# Docker & Compose
Dockerfile
docker-compose.yml

# IDE and OS-specific
.DS_Store
Thumbs.db
.vscode/
